*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}

li{
	list-style: none;
}

/*header styles*/

header{
	display: flex;
	width: 100%;
	background: #000;
}

.logo_bar{	
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	margin-top: 50px;
	margin-left: 12%;
	font-weight: 800;
	font-size: 28px;
}
nav{
	margin-top: 50px;
	margin-left: 29%;
}
.menu_bar{
	display: flex;
	text-transform: uppercase;
	
}
.menu_bar a{
	color: #fff;
	padding-left: 20px;
	font-size: 28px;
}
.menu_bar a:hover{
	color: #fcdc45;
}


/*home styles*/




main{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.home{
	text-align: center;
	background: #000;
	color: #fff;
	padding:  220px 0 25px 0;
}
span{
	color: #fcdc45;
}
.home h1{
	font-size: 36px;
	font-weight: 800;
	text-transform: uppercase;
}
.home p{
	padding-bottom: 425px;
}


/*about_us styles*/

.leftpart{
	padding: 120px 200px;
}

.about_us h2{
	padding-top: 125px;
	padding-bottom: 40px;
	text-transform: uppercase;
}
.about_us p{
	padding-top: 20px;
}
.about_us img{
	padding-right: 5px;
}

.about_us{
	display: flex;
}
